
<div class="pull-right range-query">
  <%= form_tag @url_search, :method => :get do %>
      <%#= text_field 'search[text_search]', @search.search_word%>
      <%= date_field 'search[date]', @search.date %><br>
      <p><label for="timetable_type_id">Separar por:</label>
        <%= select('search[status]', @search.status, @search.all_status ) %></p>
      <%= submit_tag 'Procurar', :class => 'btn search-button' %>
  <% end %>
</div>
